{% extends 'header.html.twig' %}

{% block head %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset("css/list_game_style.css") }}">
{% endblock %}

{% block body %}
    {{ parent() }}
    {% for game in games %}
        <a href="#"><img  class="game_img" src="{{ game.getImageUrl()}}"/></a>
    {% endfor %}

{% endblock %}


